.page-wrapper {
  padding: 30px;
  background: #f5f7fb;
  min-height: 100vh;

  display: block;
  /* 👈 IMPORTANT */
}

/* HEADER */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* important for vertical stacking */
  gap: 15px;
  margin-bottom: 15px;
}

/* SEARCH */
.search-box {
  width: 320px;
}

.right-actions {
  display: flex;
  flex-direction: column;
  /* logout above create */
  gap: 10px;
  align-items: flex-end;
}

/* TABLE CONTAINER (NEW) */
.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* TABLE WRAPPER */
.table-wrapper {
  background: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  display: block;
  /* 👈 IMPORTANT (remove flex) */
  width: 100%;
  overflow-x: auto;
}

/* TABLE */
.full-width-table {
  width: 100%;
}

/* HEADER STYLE */
.mat-mdc-header-row {
  background: #f3f4f6;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  padding: 16px;
}

/* PAGINATOR */
mat-paginator {
  background: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

/* MOBILE */
@media (max-width: 768px) {
  .table-header {
    flex-direction: column;
    align-items: stretch;
  }

  .search-box {
    width: 100%;
  }
}

.header-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}