.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}

.login-card {
  width: 100%;
  max-width: 420px;
   padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.divider {
  text-align: center;
  font-weight: bold;
  color: gray;
  margin-top: 20x;
}

.full-width {
  width: 100%;
}

.login-form button {
  height: 48px;
}

.register-btn {
  margin-top: 8px;
}

.google-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}