<div class="d-flex justify-content-start align-items-center bg-primary text-white p-2 mb-2">
  <h1 class="m-0">Employee Directory</h1>
</div>
<h2 class="px-2">
  {{ isEditMode ? 'Update Employee' : 'Create Employee' }}
</h2>



<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class=" d-flex justify-content-center gap-2">

  <div class="row g-2 mx-2">
    <!-- First Name -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>
          First Name
        </mat-label>

        <input matInput formControlName="firstName" placeholder="Enter first name">

      </mat-form-field>
    </div>


    <!-- Last Name -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100 ">

        <mat-label>
          Last Name
        </mat-label>

        <input matInput formControlName="lastName" placeholder="Enter last name">

      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>
          Email Address
        </mat-label>

        <input matInput type="email" formControlName="email" placeholder="Enter email address">

      </mat-form-field>
    </div>
    <!-- Department -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>
          Department
        </mat-label>

        <input matInput formControlName="department" placeholder="Enter department">

      </mat-form-field>
    </div>

    <!-- Designation -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>
          Designation
        </mat-label>

        <input matInput formControlName="designation" placeholder="Enter designation">

      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>Mobile Number</mat-label>

        <input matInput formControlName="mobileNo" placeholder="Enter mobile number" maxlength="10">

      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>Joined On</mat-label>

        <input matInput type="date" formControlName="joinedOn">

      </mat-form-field>
    </div>


    <!-- Status -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">

        <mat-label>
          Status
        </mat-label>

        <mat-select formControlName="status">

          <mat-option value="ACTIVE">
            ACTIVE
          </mat-option>

          <mat-option value="INACTIVE">
            INACTIVE
          </mat-option>

        </mat-select>

      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">


        <mat-label>Address</mat-label>

        <textarea matInput formControlName="address" placeholder="Enter full address" rows="3"></textarea>

      </mat-form-field>
    </div>

    <!-- Button -->
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" class="submit-btn" type="submit">
        {{ isEditMode ? 'Update Employee' : 'Save Employee' }}
      </button>
    </div>

  </div>
</form>